body{
    background-color: darkolivegreen;
}

h1{
    color: aliceblue;
}

.basic{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#historia{
    text-align: center;
}





